
body {
  background-color: #222;
  color: white;
  text-align: center;
}


#title {
  font-family: 'Pacifico', cursive;
  margin-bottom: 50px;
}

#clock-container {
  text-align: center;
}

#clock {
  height: 250px;
  width: 250px;

  border-style: solid;
  border-color: white;
  border-radius: 50%;

  display: inline-block;

  margin-bottom: 50px;
}

#buttons-container {
  text-align: center;
}

.button {
  margin-right: 20px;
  margin-left: 20px;
  
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 40%;

  padding: 20px;
}

.button:hover {
  color: #222;
  background-color: white;
  border-color: white;
}

/**************************************************
ANIMATION
**************************************************/
.button-enter {
  opacity: 0.01;
}

.button-enter.button-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.button-leave {
  opacity: 1;
}

.button-leave.button-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
/*************************************************
POPUP MODAL
************************************************/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}