
body {
  background-color: #222;
  color: white;
  text-align: center;
}

#test-suite-selector {
  color:black;
}

.App {
  font-family: 'Open Sans', Arial;
}

.disabled {
  pointer-events: none;
}

#title {
  font-family: 'Pacifico', cursive;
  margin-bottom: 50px;
}

#clock-container {
  text-align: center;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

#clock {
  height: 250px;
  width: 250px;

  border-style: solid;
  border-color: white;
  border-radius: 50%;

  display: inline-block;

  margin-bottom: 50px;
  margin-top: 30px;

  text-align: center;

  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.clock-span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.clock-span {
  font-size: xx-large;
  font-family: 'Open Sans', Arial;
}

.clock-number {
  font-size: 2em;
}

#buttons-container {
  text-align: center;
}

.button {
  margin-right: 20px;
  margin-left: 20px;
  
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 40%;

  padding: 20px;
}

.button:hover {
  color: #222;
  background-color: white;
  border-color: white;
}

/*.ranger, .ranger > div > div {*/
.ranger > div > div {
  display: inline-block;
}

.ranger-titulo {
  font-size: small;
}

.ranger-val-element {
  margin: 0px 3px;
  font-size: 2em;
  user-select: none;
  cursor: default;
}

.value-changer {
    width: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.value-changer:hover {
  /* background-color: rgba(255, 255, 255, 0.2);
  color: black; */
  background-color: white;
  color: black;
}

#session-length, #break-length {
  display: inline-block;
}

#reset {
  cursor: pointer;
}

/**************************************************
ANIMATION
**************************************************/


.button-enter {
  opacity: 0.01;
}

.button-enter.button-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.button-leave {
  opacity: 1;
}

.button-leave.button-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}